# Ignore Android and iOS native code
android/** linguist-vendored
ios/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored

# Ignore build config files
*.cmake linguist-generated
CMakeLists.txt linguist-generated

# Optionally ignore build outputs
build/** linguist-generated
